body {
  background: #101320;
  color: #EFEDEF; }

.navbar {
  border-bottom: #c8292e 2px solid;
  opacity: 0.8;
  background: #101320; }
  .navbar #phone-number-button {
    background-color: #101320;
    color: #EAEAEA; }

#home-section {
  background: url("../img/bulb5.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 750px; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 800px; }
  #home-section #hobson {
    text-shadow: 8px 8px 20px black; }
  #home-section #hobson strong {
    text-shadow: 6px 6px 20px black; }
  #home-section .home-inner {
    padding-top: 150px; }
  #home-section .contact-form {
    background-color: #c8292e;
    color: #EFEDEF; }
  #home-section .learn-more-button {
    background-color: #c8292e;
    color: #EFEDEF; }
  #home-section .send-message-button:hover {
    cursor: pointer;
    color: #c8292e; }
  #home-section .fa {
    color: #c8292e;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; }

#home-icons .fa {
  color: #c8292e;
  background: #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }

#home-icons .home-icon-button {
  color: #c8292e;
  margin-top: -15px;
  margin-bottom: 15px; }

#home-icons .home-icon-button:hover {
  background-color: #101320;
  color: #fff;
  text-decoration: none; }

#map-section {
  background: url("../img/bulb5.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 -180px;
  min-height: 450px;
  position: relative; }
  #map-section h3 {
    font-size: 2rem;
    font-weight: bold; }
  #map-section p {
    font-size: 1.3rem; }
  #map-section h3, #map-section p {
    color: #EFEDEF;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8); }
  #map-section img {
    height: 300px; }
  #map-section .view-map-button {
    color: #EFEDEF;
    background-color: #333; }
  #map-section #map-image {
    box-shadow: 1px 1px 15px #333; }

#main-footer {
  background-color: #101320; }
  #main-footer a {
    color: #c8292e; }
  #main-footer .footer-col {
    max-height: 150px; }
  #main-footer #fb-icon {
    height: 60px; }

#about-section,
#residential-section,
#commercial-section {
  margin-top: 65px; }

.white-underlay {
  background: #FFF; }

@media (max-width: 1432px) {
  #home-section {
    background-attachment: scroll; }
  #map-section {
    background-attachment: scroll; } }

@media (max-width: 990px) {
  .navbar {
    opacity: 1; }
  #home-section .container {
    padding-right: 0px;
    padding-left: 0px; }
  #home-section .main-heading {
    margin-top: -70px;
    margin-bottom: -30px;
    font-size: 70px; }
  #home-section .learn-more-button {
    display: none; }
  #map-section {
    min-height: 800px;
    background-attachment: scroll; }
  #about-section,
  #residential-section,
  #commercial-section {
    min-height: 800px; }
  #main-footer .container {
    margin-top: -130px; } }

@media (max-width: 780px) {
  #home-section .container {
    padding-right: 0px;
    padding-left: 0px; }
  #home-section .main-heading {
    font-size: 55px;
    text-align: center; }
  #home-section .sub-heading {
    text-align: center; }
  #map-section .card-group {
    flex-direction: column; }
  #map-section #service-map {
    border-right: none; }
  #about-section,
  #residential-section,
  #commercial-section {
    min-height: 1100px; } }

@media (max-width: 577px) {
  #home-section {
    height: 600px;
    overflow: visible; } }

@media (max-width: 535px) {
  #home-section .main-heading {
    font-size: 45px; }
  #home-section .sub-heading {
    font-size: 16px; } }

@media (max-width: 460px) {
  #home-section .main-heading {
    font-size: 37px; } }
