body {
  background: #101320;
  color: #EFEDEF; }

.navbar {
  border-bottom: #c8292e 2px solid;
  opacity: 0.8;
  background: #101320; }
  .navbar #phone-number-button {
    background-color: #101320;
    color: #EAEAEA; }

#home-section {
  background: url("../img/bulb4.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 -180px;
  min-height: 700px; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; }
  #home-section #hobson {
    color: #c60000;
    background: -webkit-linear-gradient(#fff, #c60000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  #home-section #hobson strong {
    text-shadow: 6px 2px 20px rgba(120, 120, 120, 0.6); }
  #home-section .home-inner {
    padding-top: 150px; }
  #home-section .contact-form {
    background-color: #c8292e;
    color: #EFEDEF; }
  #home-section .learn-more-button {
    background-color: #c8292e;
    color: #EFEDEF; }
  #home-section .fa {
    color: #c8292e;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; }

#home-icons .fa {
  color: #c8292e;
  background: #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }

#home-icons .home-icon-button {
  color: #c8292e;
  margin-top: -15px;
  margin-bottom: 15px; }

#home-icons .home-icon-button:hover {
  background-color: #101320;
  color: #fff;
  text-decoration: none; }

#map-section {
  background: url("../img/cable-clouds.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 -180px;
  min-height: 450px;
  position: relative; }
  #map-section img {
    height: 300px; }
  #map-section .view-map-button {
    color: #EFEDEF;
    background-color: #333; }
  #map-section #map-image {
    box-shadow: 1px 1px 15px #333; }

#main-footer {
  background-color: #101320; }
  #main-footer a {
    color: #c8292e; }
  #main-footer .footer-col {
    max-height: 150px; }
  #main-footer #fb-icon {
    height: 60px; }

@media (max-width: 990px) {
  .navbar {
    opacity: 1; }
  #home-section .main-heading {
    margin-top: -45px;
    font-size: 70px; }
  #home-section .learn-more-button {
    display: none; }
  #home-icons {
    margin-top: 50px; }
  #map-section {
    min-height: 800px;
    background-attachment: scroll; } }

@media (max-width: 780px) {
  #home-section .container {
    padding-right: 0px;
    padding-left: 0px; }
  #home-section .main-heading {
    font-size: 55px;
    text-align: center; }
  #home-section .sub-heading {
    text-align: center; }
  #map-section .card-group {
    flex-direction: column; }
  #map-section #service-map {
    border-right: none; } }

@media (max-width: 535px) {
  #home-section .main-heading {
    font-size: 45px; }
  #home-section .sub-heading {
    font-size: 16px; } }

@media (max-width: 460px) {
  #home-section .main-heading {
    font-size: 37px; } }

@media (max-width: 375px) {
  #home-section .main-heading {
    font-size: 30px; } }
